@model KidKinder.Entities.ClassRoom
@{
    ViewBag.Title = "UpdateClassroom";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Yeni Branş Girişi</h5>
                                <span>Branş ile ilgili verileri eksiksiz olarak doldurunuz.</span>
                            </div>
                            <div class="card-block">
                                <form method="post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Başlık</label>
                                        <div class="col-sm-10"> 
                                            @Html.HiddenFor(x => x.ClassRoomId)
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Yaş Aralığı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.AgeOfKids, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sınıf Kontenjanı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.TotalSeat, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ders Saatleri</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ClassTime, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Yeni Servis Başlığı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Resim Linki</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Açıklama</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ders Seçimi</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(x => x.BranchID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

